@page "/logging/overview"

@using LetsEncrypt.Managers.Interfaces
@using LetsEncrypt.Model

@inject ILoggingEntryManager _loggingEntryManager

<h1>Logging</h1>

<p>List of logging messages.</p>

@if (_loggingEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Level</th>
                <th>Date and time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loggingEntry in _loggingEntries)
            {
                <tr>
                    <td>@loggingEntry.Level</td>
                    <td>@($"{loggingEntry.DateTime:yyyy-MM-dd HH:mm}")</td>
                    <td>@loggingEntry.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private IList<LoggingEntry> _loggingEntries;

    protected override async Task OnInitializedAsync()
    {
        _loggingEntries = await _loggingEntryManager.GetLoggingEntries();
    }
}