@using LetsEncrypt.Managers.Interfaces
@using LetsEncrypt.Model

@inject ILoggingEntryManager _loggingEntryManager

@if (_loggingEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm">
        @foreach (var loggingEntry in _loggingEntries)
        {
            <tr>
                <td>@loggingEntry.Level</td>
                <td>@($"{loggingEntry.DateTime:yyyy-MM-dd HH:mm}")</td>
                <td>@loggingEntry.Message</td>
            </tr>
        }
    </table>
}

@code
{
    private IList<LoggingEntry> _loggingEntries;

    protected override async Task OnInitializedAsync()
    {
        _loggingEntries = await _loggingEntryManager.GetLoggingEntries();
    }
}